# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
- Popular languages that Data Scientists use
- Common libraries used by Data Scientists
- Data Science tools

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. JavaScript

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. ggplot2

| Data Science Tools |
|--------------------|
| Rstudio |
| Apache Spark|
| TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [7]:
200/60

3.3333333333333335

## Author

Michael Tropeano